p{
    color: #964B00;
    text-align: center;
}


.mypoem {
    color: red;
    text-align: center;
    line-height: 30px;
}

.mypoet {
    text-align: center;
    color: black;
}

body{
    font-style: Georgia;
}

a{
    color:green;
    text-decoration:none;
}

button{
    background-color: white;
    color: blueviolet;
}

textarea{
    color: #000000;
}