h3,h1{
    color:#b92b27;
}

#login{
    background-color: white;
}

#signup{
    background-color: #b92b27;
    color: white;
}

.upvote{
    background-color: green;
    color: aliceblue;
}
/* Descendant Selector*/
p a{
    color: purple;
    background-color: yellow;
}

nav ul li {
    color: pink;
}